# Игнорируем виртуальное окружение
venv/
.venv/
env/

# Игнорируем кэш Python
**/__pycache__/
*.pyc

# Игнорируем локальные секреты и логи
.env
*.log

# Игнорируем папки гита и IDE
.git
.gitignore
.vscode/
.idea/
