
services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      # МАГИЯ: Синхронизируем весь код (из текущей папки в /app в контейнере)
      - .:/app
    restart: always
    # Объединяем миграции и запуск с флагом --reload
    # В docker-compose.yml
    # Временно заменяем всё это на sleep
    command: sleep infinity
    # restart: always  <-- Закомментируй это пока что!
    
