
services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      # МАГИЯ: Синхронизируем весь код (из текущей папки в /app в контейнере)
      - .:/app
    restart: always
    # Объединяем миграции и запуск с флагом --reload
    # В docker-compose.yml
    command: >
      sh -c "mkdir -p data && chmod 777 data && alembic upgrade head && uvicorn main:app --host 0.0.0.0 --port 8000"
    
