services:
  app:
    build: .
    # volumes оставляем только один, чтобы не было конфликтов прав
    volumes:
      - .:/app
    # Убираем sleep и ставим автоматику
    command: >
      sh -c "mkdir -p /app/data && 
      chmod 777 /app/data && 
      alembic upgrade head && 
      echo '---------------------------------------------------------' &&
      echo 'SWAGGER ДОСТУПЕН ПО ССЫЛКЕ НИЖЕ:' &&
      echo 'https://$${CODESPACE_NAME}-8000.app.github.dev/docs' &&
      echo '---------------------------------------------------------' &&
      uvicorn main:app --host 0.0.0.0 --port 8000"

    
