version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      # Связываем папку data на твоем компе с папкой /app/data в контейнере
      - ./data:/app/data
    restart: always
